{% load static %}
<div class="col-lg-12 pr-lg-">
    <div class="card mb-">
<div class="card-header bg-light" style="float: left; clear:none">
            
    <h5 class="mb-0">Latest News </h5>
</div>
<br>
<div style="padding: 1%;"> 
    <!--Add content below-->  
  
    <div class="row">
      
          {% if user.is_authenticated %}
          {% if articles %}
          {% for article in articles %}
          <div class="col-sm-6 col-lg-4 mb-4">
              <div class="card bg-light">
                <div class="card-body">
                  <div class="card-title">{{ article.title }} </div>
                  
              </div>
             <!-- Button trigger modal-->
<button class="btn btn-light mr-1 mb-1" type="button" data-toggle="modal" data-target="#exampleModal">Click to read</button>

<!-- Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{article.title}}</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>{{ article.description }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Close</button>
        <a href="{{ article.url }}"><button class="btn btn-primary btn-sm" type="button" >View Source</button></a>
      </div>
    </div>
  </div>
</div>
              </div>
            </div>
     
      
        {% endfor %}
        {% else %}
            <div class="col-md-12"></div>
                <p> No Leads Yet... </p>
            </div>
        {% endif %}
        {%else%}
            Nothing
    {%endif%}
        </div>
      
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!--Add content above-->  
</div>
</div>
</div>


